*{
    font-family: sans-serif;
}

h1,h2,h3,h4,h5,h6, p, span{
    color: #ffffff;
}

h6{
    font-size: 100px;
    font-weight: bold;
}

h5{
    font-size: 80px;
    font-weight: bold;
}

h4{
    font-weight: bold;
    font-size: 40px;
}

h3{
    font-size: 20px;
}

h2{
    font-size: 18px;
    font-weight: bold;
}

p{
    line-height: 30px;
}

span{
    font-size: 30px;
    font-weight: bold;
}

img{
    height: fit-content;
}

.cursive{
    font-style: italic;
}
.cursive::before, .cursive::after{
    content: ' " ';
}


.button-orange{
    background-color: black;
    border-color: yellow;
    color: yellow;
    width: 170px;
    height: 50px;
    border-radius: 100px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;

    transition: 0.4s;
}

.button-with-opasity{
    background-color: rgba(0,0,0,0);
    border-color: yellow;
    color: yellow;

    width: 170px;
    height: 50px;
    border-radius: 100px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;

    transition: 0.4s;
}

.button-with-opasity:hover{
    background-color: yellow;
    border-color: rgba(0,0,0,0);
    color: black;

    transition: 0.4s;
}

.button-orange:hover{
    background-color: yellow;
    border-color: rgba(0,0,0,0);
    color: black;

    transition: 0.4s;
}

.lineR,.lineMiddle, .lineL{
    display: inline-block;
    height: 0;
    border: 1px solid #a5a5a5;
    margin: 0px 10px;
}

.gallery-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;

    margin-top: 100px;
    margin-left: 6%;
    .lineR{
        margin-bottom: 5px;
        width: 5%;
        margin: 0% 1.5%;
    }
    .lineMiddle{
        margin-bottom: 5px;
        width: 50%;
        margin: 0% 1.5%;
    }
}


body{
    background-color: rgba(40,39,42,1);

    main{
        .img--wrapper{
            background:  linear-gradient(to bottom, transparent calc(50% - 30px), 
            transparent calc(50% + 30px), rgba(40,39,42,1) calc(70% + 160px), rgba(40,39,42,1) 100%),
            url(../images/top-section-bg.jpg) no-repeat top center;
            background-size: 100%;
            header{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                .header--logo{
                    display: flex;
                    align-items: center;
                    background-color: yellow;
                    padding: 0% 3% 0% 4%;
                    width: 17.9%;
                    height: 115px;
                    h4{
                        
                        color: black;
                    }
                }
                .header--top_left_nav{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    width: 25%;
                    padding: 0% 6.9% 0% 0%;
                    h1{
                        margin: 0px 9.4%;
                        font-weight: bold;
                    }
                    div{
                        width: 40px;
                        height: 40px;
                        background-color: black;
                        border-radius: 50%;
                    }
                }
            }
            .top-section{
                display: flex;
                .left-menu{
                    display: flex;
                    flex-direction: column;
                    align-items: left;
                    justify-content: center;

                    width: 18.7%;
                    min-width: 319px;
                    padding-top: 2.5%;
                    padding-bottom: 25%;
                    
                    background-color: rgba(0,0,0,0.5);
                    opacity: 0.8;
                    
                    h3{
                        margin: 17% 0% 0% 22%; 
                        font-weight: 900;
                        transition: 0.5s;
                    }
                    h3:hover{
                        cursor: pointer;
                        color: yellow;
                        font-size: 25px;
                        margin: 15.5% 0% 0% 21%;
                        transition: 0.5s;
                    }
                }
                .top-section--gallery{
                    display: flex;
                    flex-direction: column;
                    padding: 13.4% 0% 0% 9.5%;
                    width: 80%;
                    div{
                        width: 37%;
                        .gallery--desc{
                            width: 75%;
                            margin-top: 7.6%;
                        }
                        button{
                            margin-top: 8.3%;
                            margin-left: 1.5%;
                        }
                    }
                    .gallery-nav{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 90%;

                        margin-top: 100px;
                        .gallery-nav--button{
                            width: 50px;
                            height: 50px;
                            margin: 0% 0.3%;
                            border-radius: 150px;
                            .right{
                                transform: rotate(90deg);
                            }
                            .left{
                                transform: rotate(270deg);
                            }
                        }
                        .lineR{
                            margin-bottom: 5px;
                            width: 5%;
                            margin: 0% 1.5%;
                        }
                        .lineMiddle{
                            margin-bottom: 5px;
                            width: 50%;
                            margin: 0% 1.5%;
                        }


                    }
                }
            }
        }
        .featured-spots{
            display: flex;
            flex-direction: row;
            margin-top: 100px;
            width: 100%;
            .featured-spots--text{
                display: flex;
                flex-direction: column;
                align-items: end;

                margin: 6% 0%;
                .featured-spots--header{
                    display: flex;
                    flex-wrap: wrap;
                    max-width: 125px;
                    text-align: end;
                }
                .featured-spots--desc{
                    width: 40%;
                    text-align: end;
                    margin: 5% 0%;
                }
                .featured-spots--view-all{
                    display: flex;
                    width: 100%;
                    justify-content: end;
                    margin-top: 20%;
                    div{
                        margin-top: 13px;
                        width: 30%;
                    }
                }
            }
            .featured-spots--gallery{
                width: 70%;
                .gallery--blocks{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    width: 100%;
    
                    margin: 10% 5%;
                    .gallery--block img{
                        width: 100%;
                        height: fit-content;
                    }
                    .gallery--block{
                        width: 25%;
                    }
                    .gallery--block_text{
                        display: flex;
                        flex-direction: column;
                        .gallery--block-header{
                            margin-top: 15%;
                        }
                        .gallery--block-country{
                            margin: 1.5% 0%;
                            opacity: 0.8;
                        }
                        .gallery--block-desc{
                            margin: 10% 0%;
                        }
                    }
                }
            }
            

        }
        .above_the_sea{
            display: flex;
            margin-top: 300px;
            .above_the_sea--image{
                width: 50%;
                padding: 0% 10% 10% 0%;
            }
            .above_the_sea--desc{
                .above_the_sea--header{
                    width: 50%;
                }
                .above_the_sea--text{
                    width: 70%;
                    margin: 10% 0%;
                }

            }
        }
        .editors-pick{
            display: flex;
            width: 100%;
            .editors-pick--text{
                display: flex;
                flex-direction: column;
                align-items: end;

                margin-top: 220px;
                width: 30%;

                .editors-pick--header{
                    width: 30%;
                    text-align: end;
                }
                .editors-pick--desc{
                    width: 70%;
                    margin: 10% 0%;
                    text-align: end;
                }
            }
            .editors-pick--right{
                width: 70%;

                .editors-pick--gallery{
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    margin-top: 100px;
                    img{
                        width: 50%;
                        margin: 2%;
                    }
                    .gallery--top{
                        display: flex;
                        width: 100%;
                        div{
                            display: flex;
                            flex-direction: column;

                        }
                    } 
                    .gallery--bottom{
                        display: flex;

                        width: 100%;
                    }

                    .gallery--img1{
                        display: flex;
                        flex: 1 1;
                        width: 73%;
                    }
                    .gallery--img2{
                        display: flex;
                        width: 40%;
                        flex: 0 1 10%;
                    }
                    .gallery--img3{
                        display: flex;
                        flex: 1 1;
                        width: 73%;
                    }
                    .gallery--img4{
                        display: flex;
                        width: 40%;
                        flex: 0 1 10%;
                    }
                    .gallery--img5{
                        display: flex;
                        width: 40%;
                        flex: 0 1 10%;
                    }
                }

                .gallery-nav{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 90%;

                    margin-top: 100px;
                        .right{
                            transform: rotate(90deg);
                        }
                        .left{
                            transform: rotate(270deg);
                        }
                    }
            }
        }

        .mountains{
            width: 100%;
            margin-top: 200px;
            .mountains--bg-wrapper{
                display: flex;
                flex-direction: column;

                background:  linear-gradient(to bottom, rgba(40,39,42,1) 0%,
                 rgba(40,39,42,1) calc(20% - 160px), transparent calc(20% - 30px), 
                 transparent calc(50% + 30px), rgba(40,39,42,1) calc(50% + 160px), rgba(40,39,42,1) 100%),
                url(../images/mountains--bg.jpg) no-repeat top center;
                background-size: 100%;
                padding: 0% 20%;

                .mountains--desc{
                    width: 30%;
                    margin-top: 60px;
                    margin-bottom: 150px;
                }
                .mountains--block{
                    display: flex;
                    width: 100%;
                    margin: 1% 0%;
                    .mountains-block--header2{
                        opacity: 0.7;
                    }
                    .mountains-block--desc{
                        width: 100%;
                        margin: 7% 0%;
                    }
                    .mountains-block--desc2{
                        width: 100%;
                    }
                    img{
                        display: flex;
                        align-items: center;
                        width: 30%;
                        flex: 2 2 10%;
                        margin: 7% 0% 0% 10%;
                    }
                    button{
                        margin-top: 50px;
                    }
                }
                hr{
                    width: 100%;
                    opacity: 0.5;
                    margin: 7% 0%;
                }
            }
            hr{
                width: 90%;
                opacity: 0.5;
            }
           
        }
        .new-letter{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin:200px 0%;
            p{
                margin-bottom: 100px;
            }
            div{
                display: flex;
                width: 30%;
                input{
                    border-radius: 50px;
                    padding: 2%;
                    width: 70%;
                }
                button{
                    margin-left:10px;
                }
            }


        }
        
    }

    footer{
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 0% 3%;
        height: 150px;
        h4{
            color: black;
        }
        p{
            color: black;
            font-weight: bold;
        }
        color: black;
        background-color: yellow;

        img{
           background-color: black;
           border-radius: 50px;
        }
    }
}
