@media(max-width:1025px){
    body{
        main{
            .img--wrapper{
                .top-section{
                    .left-menu{
                        width: 22.7%;
                        h3{
                            margin: 17% 0% 0% 0%;
                        }
                    }
                    .top-section--gallery{
                        div{
                            width: 100%;
                        }
                    }
                }
            }

            .featured-spots{
                .featured-spots--text{
                    .featured-spots--desc{
                        width: 100%;
                    }
                }
                .featured-spots--gallery{
                    .gallery--blocks{
                        margin: 10% 0%;
                    }
                }
            }
            .mountains{
                .mountains--bg-wrapper{
                    padding: 0% 10%;
                    .mountains--desc{
                        width: 70%;
                    }
                }
            }
        }
    }
}
@media(max-width:769px){
    h5{
        font-size: 40px;
    }

    h4{
        font-size: 25px;
    }

    h3{
        font-size: 15px;
    }

    h2{
        font-size: 12px;
    }
    body{
        main{
            .img--wrapper{
                header{
                    .header--logo{
                        height: 60px;
                    }
                    .header--top_left_nav{
                        width: 40%;
                    }
                }
                .top-section{
                    .left-menu{
                        display: block;
                    }
                }
            }
            .featured-spots{
                .featured-spots--gallery{
                    .gallery--blocks{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        .gallery--block{
                            width: 70%;
                            margin-top: 40px;
                        }
                    }
                }
            }
            .new-letter{
                div{
                    width: 60%;
                }
            }
        }
    }
}
@media(max-width:426px){

    h5{
        font-size: 25px;
    }

    body{
        main{
            .img--wrapper{
                header{
                    .header--top_left_nav{
                        width: 60%;
                        div{
                            width: 25px;
                            height: 25px;
                        }
                    }
                }
                .top-section{
                    .left-menu{
                        display: none;
                    }
                    .top-section--gallery{
                        padding: 0% 0% 0% 18.5%;
                    }
                }
            }
            .above_the_sea{
                .above_the_sea--desc{
                    .above_the_sea--header{
                        width: 100%;
                    }
                }
            }
            .editors-pick{
                .editors-pick--text{
                    align-items: center;
                    .editors-pick--header{
                        width: 100%;
                    }
                    .editors-pick--desc{
                        width: 100%;
                    }
                }
            }
            .new-letter{
                div{
                    width: 90%;
                }
            }
        }
    }
}